<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title th:remove="all">Order Confirmation</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
	<div>
		<h1>
			Pedido número: <span th:text="${pedido.id}"> </span>
		</h1>
		<p>
			Instante: <span
				th:text="${#dates.format(pedido.instance, 'dd/MM/yyyy hh:mm')}"></span>
		</p>
		<p>
			Cliente: <span th:text="${pedido.cliente.nome}"></span>
		</p>
		<p>
			Situação do pagamento: <span
				th:text="${pedido.pagamento.estado.descricao}"></span>
		</p>
		<h3>Detalhes do pedido:</h3>
		<table  style="box-shadow: 2px 2px 4px rgba(0, 0, 0, .5)">
			<tr>
				<th style="padding: 10px">Produto</th>
				<th style="padding: 10px">Quantidade</th>
				<th style="padding: 10px">Preço unitário</th>
				<th style="padding: 10px">Subtotal</th>
			</tr>
			<tr th:each="item : ${pedido.itens}">
				<td style="padding: 10px" th:text="${item.produto.nome}">nome</td>
				<td style="padding: 10px" th:text="${item.quantidade}">quantidade</td>
				<td style="padding: 10px"
					th:text="${#numbers.formatDecimal(item.preco, 0, 'POINT', 2, 'COMMA')}">preco</td>
				<td style="padding: 10px"
					th:text="${#numbers.formatDecimal(item.subTotal, 0, 'POINT', 2, 'COMMA')}">subTotal</td>
			</tr>
		</table>
		<p>
			Valor total: <span
				th:text="${#numbers.formatDecimal(pedido.valorTotal, 0, 'POINT', 2, 'COMMA')}"></span>
		</p>
	</div>
</body>
</html>